header {
    margin: 0;
    text-align: center;
    background-color: slategray;
    color: azure;
}

main {
    padding: 1em;
    background-color: lightgray;
}

body {
    margin: 0;
    background-image: url("record.png");
    background-repeat: repeat;
}